doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    //- ul
    //-   li Mark's text :)
    //- input(type='text').mark-class#mark-id.second-class
    //- - let test = true
    //- if test
    //-   //- p Test is true!
    //- - let array = [1,2,3,4]
    //- each value in array
    //-   li= value
    block content
